#courseCard {
    /* margin-top: 10px;
    margin-bottom: 80%; */
}

.card {
    /* height:775px; */
    /* height: auto; */
    height: 184%;
}

#registerStudent{
  background-image:url('https://png.pngtree.com/thumb_back/fh260/back_pic/03/74/98/0557bd128221118.jpg');
}

#courseContent {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 10px;
    padding-left: 20px; 
    padding-bottom: 10px; 
    line-height: 2; */
}

#modalHeader {
    color: white;
    margin-top: 50px;
}
.sendToText{
    margin-top: 40px;
}
#registerStudent {
    line-height: 5;
    text-align: center;
    width: 800px;
    opacity:0.2;
    background-repeat: no-repeat;
    background-size: cover; 
    z-index: -1;
}

#tabs-swipe {
    font-weight: bold;
    font-size: 30px;
}