#courseCard {
    margin-top: 10px;
    margin-bottom: 80%;
}

.card {
    height:775px;
}

#courseContent {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px; 
    padding-bottom: 10px; 
    line-height: 2;
}

#modalHeader {
    color: white;
    margin-top: 50px;
}

#registerStudent {
    line-height: 5;
    text-align: center;
    width: 800px;
    background-image: url(../../images/schoolkid.jpg);
    opacity:0.2;
    background-repeat: no-repeat;
    background-size: cover; 
    z-index: -1;
}

#tabs-swipe {
    font-weight: bold;
    font-size: 30px;
}