/* body {
    background-size: 100% auto;
    background-repeat: no-repeat;
  } */

  /* h1,h2,h3,p {
      color: rgb(203, 218, 218);
      font-family: Courier;
      text-align: center;
      text-shadow: 2px 2px 4px #000000;
  } */

  /* h1 {
      font-weight: bold;
  } */