/* input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea
,#userName{
    border-bottom: 0px solid white;
} */

input[type=text]:not(.browser-default) .userNameProfile,.emailProfile,.lastNameProfile,.firstNameProfile{
    border-bottom:0px;
}

.profileDivider{
    margin-bottom:10px
}

.profileCardTitle{
    color:#448aff;
}
/* label{
    font-size:40px;
} */