
.modal .datepicker-modal .open{
  z-index: 1000000000000;
}
.datepicker-date-display{
  background-image:url('https://png.pngtree.com/thumb_back/fh260/back_pic/03/74/98/0557bd128221118.jpg');
  background-size:cover
}

.newCourseError{
  color:#ff5252;
  font-weight: bold;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done,.datepicker-table td.is-today{
  color:#0E419B;
}

.datepicker-table td.is-selected{
  background-color:#0E419B;
  color:white;
}

.modal{
  height:auto
}

#newCourseSubmit{
  margin-bottom:40px;
}

#studentSelect{
  margin:20px 0;
  z-index: 2;
}

#instructorSelect{
  margin:20px 0;
  z-index: 3;
}