.collapsible-body {
    background-color: white;
}

.errorMessage{
    color:#ff5252;
    font-weight: bold;
    padding:0;
    margin:0;
}

.successMessage{
    color:#00e676;
    font-weight: bold;
    padding:0;
    margin:0;
}

#existStudentSubmit,#existInstructSubmit{
    display:none
}

#collapDiv {
    align-items: center;
    padding-left: 40px;
    padding-right: 40px; 
}

#header1, #header2 {
    font-size: 20px;
}

#submit-btn {
    font: black;
}

