#students{
    width:100%;
    margin-top:0px;
}

#studentImgRow{
    margin-bottom:0px;
}
.deleteStudent{
    margin-top: 2em;
    /* position: relative;
    left:75%; */
    /* bottom:70%; */
    /* margin-bottom: 20%; */
    
}
.errorMessage{
    color:#ff5252;
    font-weight: bold;
    padding:0;
    margin:0;
}
.errorRow{
    margin-bottom:10px;
}

.successMessage{
    color:#00e676;
    font-weight: bold;
    padding:0;
    margin:0;
}