#students{
    width:100%;
    margin-top:0px;
}

#studentImgRow{
    margin-bottom:0px;
}
.deleteStudent{
    margin-top: 2em;
    /* position: relative;
    left:75%; */
    /* bottom:70%; */
    /* margin-bottom: 20%; */
    
}

#courseSelect{
    z-index:3;
}
.errorMessage{
    color:#ff5252;
    font-weight: bold;
    padding:0;
    margin:0;
}
.errorRow{
    margin-bottom:10px;
    margin-top:5%;
    
}
@media only screen and (max-width : 450px) {
    .errorRow{
        margin-bottom:10px;
        margin-top:15%;
    }
}

.successMessage{
    color:#00e676;
    font-weight: bold;
    padding:0;
    margin:0;
}